.module-demo {
  position: relative;
  margin: auto;
  width: 600px;
}

h2 {
  margin-top: 2%;
  margin-bottom: 2%;
}

.switch-demo {
  display: flex;
  flex-direction: flex-start;
  justify-content: space-between;
  padding-top: 10%;
  width: 600px;
  margin: auto;
}