<div class="module-demo">
    Just in case if you don't want to use <code><strong>href</strong></code>, <code><strong>routerLink</strong></code> and you want to write your own logic for redirection then you can use <code><strong>onSelect</strong></code> Property.
    <pre>
        {{codeSnippet}}
    </pre>
    The below code snippet will give you an idea of how you can use this in the Angular Component class.
    <pre>
        {{codeSnippetUsage}}
    </pre>
    <br/>
</div>

<div class="switch-demo">
    <a class="next-demo" mat-button [routerLink]="['/pages/more-configuration/select-by-id']">Previous Demo</a>
    <a class="next-demo" mat-button [routerLink]="['/pages/more-configuration/minimise']">Next Demo</a>
</div>
