<div class="module-demo">
  <h2>Expand/Collapse the Menu</h2>
  <ng-material-multilevel-menu [items]='appitems'
    (selectedItem)="selectedItem($event)"></ng-material-multilevel-menu>
  <br>
  <button (click)="setExpandCollapseStatus('expand')">Expand All</button> &nbsp; 
  <button (click)="setExpandCollapseStatus('collapse')">Collapse All</button>
  <br> <hr/>
</div>

<div class="switch-demo">
  <a class="prev-demo" mat-button [routerLink]="['/pages/more-configuration/disable-routing']">Previous Demo</a>
  <a class="next-demo" mat-button [routerLink]="['/pages/more-configuration/dont-emit']">Next Demo</a>
</div>
