<div class="module-demo">
    <h2>Expand/Collapse the Menu</h2>
    <ng-material-multilevel-menu
        [items]='appitems'
        (selectedItem)="selectedItem($event)"></ng-material-multilevel-menu>
    <br>
    <button (click)="setExpandCollapseStatus('expand')">Expand All</button>
    &nbsp;
    <button (click)="setExpandCollapseStatus('collapse')">Collapse All</button>
    <br>
    <hr>
</div>
<app-switch-demo
    previous="/pages/more-configuration/disable-routing"
    next="/pages/more-configuration/dont-emit"></app-switch-demo>
