<div class="module-demo">
    <h2>Change the colour of selected Items</h2>
    <div class="input-box">
        <input
            [(ngModel)]="menuId"
            type="text"
            placeholder="Enter the Menu Id here">
        <button
            mat-button
            color="primary"
            (click)="selectMenuID()">
            Select Menu
        </button>
    </div>
    <ng-material-multilevel-menu
        [configuration]='config'
        [items]='appitems'
        (menuIsReady)="menuIsReady($event)"
        (selectedItem)="selectedItem($event)"></ng-material-multilevel-menu>
</div>
<app-switch-demo
    previous="/pages/more-configuration/dont-emit"
    next="/pages/more-configuration/on-select"></app-switch-demo>
