<div class="module-demo">
  By default, Routing is not enabled. 
 You need to enable it by Passing the <code><strong>interfaceWithRoute</strong></code> option in Configurations.
 You can refer this in <strong>app.component.ts</strong> file.
</div>

<div class="switch-demo">
  <a class="prev-demo" mat-button [routerLink]="['/pages/more-configuration/disable-padding']">Previous Demo</a>
  <a class="next-demo" mat-button [routerLink]="['/pages/more-configuration/expand-collapse']">Next Demo</a>
</div>
