.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sibebar-content {
  padding: 1%;
  width: 21vw;
}

.content {
  padding: 2%;
  background-color: rgb(240, 240, 240);
}