<mat-drawer-container class="container">
  <mat-drawer mode="side" opened class="sibebar-content">
    <ng-material-multilevel-menu 
      *ngIf="displayList"
      [configuration]='config' 
      [items]='appitems' 
      [expandCollapseStatus]="expandCollapseStatus"
      (selectedItem)="selectedItem($event)"
    >
      <ng-template #listTemplate let-item="item" let-configuration="configuration">
        <div class="my-cool-menu-item" [dir]="configuration.rtlLayout  ? 'rtl' : 'ltr'">
          <div class="title-and-image">
            <div class="icon-container">
              <span [ngClass]="getClass(item)"></span>
            </div>
            <div class="label-container">
              <span>{{item.label}}</span>
            </div>
          </div>
          <div class="icon-arrow-container" *ngIf='item.hasChilden'>
            <mat-icon *ngIf="!configuration.rtlLayout" [@ExpandedLTR]="item.expanded ? 'yes' : 'no'">
              keyboard_arrow_down
            </mat-icon>
            <mat-icon *ngIf="configuration.rtlLayout" [@ExpandedRTL]="item.expanded ? 'yes' : 'no'">
              keyboard_arrow_down
            </mat-icon>
          </div>
        </div>
      </ng-template>
    </ng-material-multilevel-menu>
  </mat-drawer>
  <mat-drawer-content class="content">
      <router-outlet></router-outlet>
      <button (click)="redirect('/demo-one')">1</button>
      <br>
      <button (click)="redirect('/demo two')">2</button>
      <br>
      <button (click)="redirect('/demo/12')">3</button>
      <br>
      <button (click)="redirect('/demo')">4</button>
      <br>
      <hr />
      <button (click)="setExpandCollapseStatus('expand')">Expand All</button> &nbsp; <button (click)="setExpandCollapseStatus('collapse')">Collapse All</button>
      <br>
      <hr />
      <input [(ngModel)]="menuId" type="text" placeholder="Enter the Menu Id here">
      <button (click)="selectMenuID()">Select Menu {{menuId}}</button>
      <br>
      <br>
      <hr />
      <div>SVG Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a
          href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
          href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0
          BY</a>
      </div>
      <div>SVG Icons made by <a href="https://www.flaticon.com/authors/itim2101" title="itim2101">itim2101</a> from <a
          href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
          href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0
          BY</a>
      </div>
      
  </mat-drawer-content>
</mat-drawer-container>
