<mat-drawer-container class="container">
  <mat-drawer mode="side" opened class="sibebar-content">
      <ng-material-multilevel-menu 
        *ngIf="displayList"
        [configuration]='config' 
        [items]='appitems' 
        (selectedItem)="selectedItem($event)"
      ></ng-material-multilevel-menu>
  </mat-drawer>
  <mat-drawer-content class="content">
      <router-outlet></router-outlet>
      <button (click)="redirect('/demo-one')">1</button>
      <br>
      <button (click)="redirect('/demo two')">2</button>
      <br>
      <button (click)="redirect('/demo/12')">3</button>
      <br>
      <button (click)="redirect('/demo')">4</button>
      <br>
      <hr/>      
      <div>SVG Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a
          href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
          href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0
          BY</a>
      </div>
  </mat-drawer-content>
</mat-drawer-container>
