<div class="information">
    You can use use your own html templates to create List, the below demos will demostrate the same.
</div>

  <div class="module-demo">
    <nav class="tab-links" mat-tab-nav-bar [backgroundColor]="background">
        <a mat-tab-link *ngFor="let singleLink of links"
            (click)="showDemo(singleLink.link)"
            [active]="activeLink == singleLink.link"> {{singleLink.name}}
        </a>
    </nav>
    <div class="demo">
        <router-outlet></router-outlet>
    </div>
  </div>
  
  <div class="switch-demo">
    <a class="prev-demo" mat-button [routerLink]="['/']">Home</a>
    <a class="next-demo" mat-button [routerLink]="['/pages/layout-variations/demo-two']">Next Demo</a>
  </div>
  